*.csv
*.pkl
*.venv
__pycache__/
*.pyc
.vscode
.venv_my_proj
*.png
!research/*.png
*.html
mlflow/mlartifacts/
mlflow/mlruns.db
catboost_info/
mlruns/
mlruns.db
services/grafana/png/
services/grafana/pdf/
services/grafana/csv/
services/grafana/grafana.db
services/grafana/plugins/